<div style="margin-right: 5px;">
    <button type="button" onclick="redirectToUrl('/Ocr/ExportToExcel');" class="btn btn-outline-success" style="font-weight: bold;">
        @_view["ExportToExcel"].Value.ToUpper()
    </button>
</div>