<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogLevel="Error" internalLogFile="D:\EAD\Logs\internal-nlog.txt">
  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>
  <targets>
    <target xsi:type="File" name="logFile" fileName="D:\EAD\Logs\${shortdate}.log" layout="${longdate} | ${local-ip} | ${mdlc:UserSid} | ${uppercase:${level}} | ${logger} | ${message} ${exception:format=tostring}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="logFile" />
    <logger name="Microsoft.*" maxLevel="Info" final="true" />
  </rules>
</nlog>